<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">To do List</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav right" >

        <li class="right" ><a href="#" class="text-right"> Total number of tasks: {{tasks.length}}  </a></li>

      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">

    <div *ngFor="let task of tasks" class="list-group-item col-1-4">
      <div class="module task">
        <h4>{{task.name}}</h4>
        <h4>{{task.descrption}}</h4>
        <h4>{{task.type}}</h4>
        <input type="checkbox" id="1" [ngModel]=task.isdone (ngModelChange)="update(task)"> <h4>Completed</h4>
      </div>
    </div>
  </div>
  <div  class="row">
      <div class="add-task">
          <a routerLink="/tasks">Add new task</a>
      </div>
  </div>
</div>